body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f1f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 900px) {
  #root > div {
    max-width: 100vw !important;
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
}

@media (max-width: 600px) {
  #root > div, .form-main-container {
    max-width: 100vw !important;
    margin: 0 !important;
    padding: 0 0 24px 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
  }
  h1 {
    font-size: 26px !important;
    margin-bottom: 18px !important;
  }
  h2 {
    font-size: 18px !important;
    margin-bottom: 18px !important;
  }
  button {
    font-size: 16px !important;
    padding: 14px 0 !important;
  }
  ul {
    padding: 0 !important;
  }
  li {
    min-height: 56px !important;
    margin-bottom: 16px !important;
  }
}
